version: '3'
services:
  zk1:
    image: confluentinc/cp-zookeeper:5.1.0
    container_name: zk1
    ports:
      - "12181:12181"
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_CLIENT_PORT: 12181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zk1:12888:13888;zk2:22888:23888;zk3:32888:33888
    volumes:
      - ./zk1/data:/var/lib/zookeeper/data
      - ./zk1/log:/var/lib/zookeeper/log

  zk2:
    image: confluentinc/cp-zookeeper:5.1.0
    container_name: zk2
    ports:
      - "22181:22181"
    environment:
      ZOOKEEPER_SERVER_ID: 2
      ZOOKEEPER_CLIENT_PORT: 22181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zk1:12888:13888;zk2:22888:23888;zk3:32888:33888
    volumes:
      - ./zk2/data:/var/lib/zookeeper/data
      - ./zk2/log:/var/lib/zookeeper/log

  zk3:
    image: confluentinc/cp-zookeeper:5.1.0
    container_name: zk3
    ports:
      - "32181:32181"
    environment:
      ZOOKEEPER_SERVER_ID: 3
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_INIT_LIMIT: 5
      ZOOKEEPER_SYNC_LIMIT: 2
      ZOOKEEPER_SERVERS: zk1:12888:13888;zk2:22888:23888;zk3:32888:33888
    volumes:
      - ./zk3/data:/var/lib/zookeeper/data
      - ./zk3/log:/var/lib/zookeeper/log

  kfk1:
    image: confluentinc/cp-kafka:5.1.0
    container_name: kfk1
    ports:
      - "19092:19092"
    depends_on:
      - zk1
      - zk2
      - zk3
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: ${IP}:12181,${IP}:22181,${IP}:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${IP}:19092
    volumes:
      - ./kfk1/data:/var/lib/kafka/data
 
  kfk2:
    image: confluentinc/cp-kafka:5.1.0
    container_name: kfk2
    ports:
      - "29092:29092"
    depends_on:
      - zk1
      - zk2
      - zk3
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: ${IP}:12181,${IP}:22181,${IP}:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${IP}:29092
    volumes:
      - ./kfk2/data:/var/lib/kafka/data
 
  kfk3:
    image: confluentinc/cp-kafka:5.1.0
    container_name: kfk3
    ports:
      - "39092:39092"
    depends_on:
      - zk1
      - zk2
      - zk3
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: ${IP}:12181,${IP}:22181,${IP}:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${IP}:39092
    volumes:
      - ./kfk3/data:/var/lib/kafka/data
